<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Portfólio Emanuelle Oliveira</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="layout-wrapper">
    <%- include('partials/header') %>

    <main class="main-content">
      <%- include('partials/sobre') %>
      <%- include('partials/curriculo') %>
      <%- include('partials/projetos') %>
      <%- include('partials/habilidades') %>
      <%- include('partials/certificacoes') %>
      <%- include('partials/contato') %>
    </main>

    <%- include('partials/footer') %>
  </div>

  <script src="/js/script.js"></script>
</body>

 
</html>
